<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
    <h1>Projects:</h1>
    <a href="{% static 'portfolio/HomeImage.jpg' %}">link</a>
    <img src="{% static 'portfolio/HomeImage.jpg' %}" alt="" height="200">
    {% for project in projects %}
        {{project.title}}
        <br>
        {{project.description}}
        <br>
        <img src="{{project.image.url}}" height="200" width="200">
    <br>
    {% if project.url %}
    <a href="{{project.url}}">link</a>
    {% endif %}
    {% endfor %}
</body>
</html>